/.idea/.idea.DotaPalyerData/.idea/.gitignore
/Domain/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/DotaPalyerData/obj/Debug/net7.0-windows/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/DotaPalyerData/obj/Debug/net7.0-windows/App.g.cs
/DotaPalyerData/obj/Debug/net7.0-windows/apphost.exe
/Domain/obj/Debug/net7.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net7.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net7.0/Domain.assets.cache
/Domain/obj/Debug/net7.0/Domain.csproj.AssemblyReference.cache
/Domain/obj/Debug/net7.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net7.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/Domain.csproj.nuget.g.targets
/Domain/bin/Debug/net7.0/Domain.deps.json
/Domain/bin/Debug/net7.0/Domain.dll
/Domain/obj/Debug/net7.0/ref/Domain.dll
/Domain/obj/Debug/net7.0/refint/Domain.dll
/Domain/obj/Debug/net7.0/Domain.dll
/DotaPalyerData/bin/Debug/net7.0-windows/Domain.dll
/Domain/obj/Debug/net7.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net7.0/Domain.GlobalUsings.g.cs
/Domain/bin/Debug/net7.0/Domain.pdb
/Domain/obj/Debug/net7.0/Domain.pdb
/DotaPalyerData/bin/Debug/net7.0-windows/Domain.pdb
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.csproj.AssemblyReference.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.csproj.CopyComplete
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.csproj.CoreCompileInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.csproj.FileListAbsolute.txt
/DotaPalyerData/obj/DotaPalyerData.csproj.nuget.dgspec.json
/DotaPalyerData/obj/DotaPalyerData.csproj.nuget.g.props
/DotaPalyerData/obj/DotaPalyerData.csproj.nuget.g.targets
/DotaPalyerData/bin/Debug/net7.0-windows/DotaPalyerData.deps.json
/DotaPalyerData/bin/Debug/net7.0-windows/DotaPalyerData.dll
/DotaPalyerData/obj/Debug/net7.0-windows/ref/DotaPalyerData.dll
/DotaPalyerData/obj/Debug/net7.0-windows/refint/DotaPalyerData.dll
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.dll
/DotaPalyerData/bin/Debug/net7.0-windows/DotaPalyerData.exe
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.g.resources
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.genruntimeconfig.cache
/DotaPalyerData/bin/Debug/net7.0-windows/DotaPalyerData.pdb
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData.pdb
/DotaPalyerData/bin/Debug/net7.0-windows/DotaPalyerData.runtimeconfig.json
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_1r0rgmou_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_1r0rgmou_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_1r0rgmou_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_1r0rgmou_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_3kajvm30_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_3kajvm30_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_3kajvm30_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_3kajvm30_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_4r0out2t_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_4r0out2t_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_4r0out2t_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_4r0out2t_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_04g2ivjn_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_04g2ivjn_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_04g2ivjn_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_04g2ivjn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_10suatxy_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_10suatxy_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_10suatxy_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_10suatxy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_513mskno_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_513mskno_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_513mskno_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_513mskno_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_ckqeczvh_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_ckqeczvh_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_ckqeczvh_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_ckqeczvh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_cx0bw1tn_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_cx0bw1tn_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_cx0bw1tn_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_cx0bw1tn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_dxjck2lj_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_dxjck2lj_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_dxjck2lj_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_dxjck2lj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_exovjcne_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_exovjcne_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_exovjcne_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_exovjcne_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_f4bajcmi_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_f4bajcmi_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_f4bajcmi_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_f4bajcmi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_groxtdkc_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_groxtdkc_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_groxtdkc_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_groxtdkc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_hbxbnuxv_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_hbxbnuxv_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_hbxbnuxv_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_hbxbnuxv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_izixfmbv_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_izixfmbv_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_izixfmbv_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_izixfmbv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_jbzca0ox_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_jbzca0ox_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_jbzca0ox_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_jbzca0ox_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_MarkupCompile.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_MarkupCompile.lref
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_mtmndxji_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_mtmndxji_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_mtmndxji_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_mtmndxji_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_o02exbkg_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_o02exbkg_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_o02exbkg_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_o02exbkg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_o52urct4_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_o52urct4_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_o52urct4_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_o52urct4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_qkf31nen_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_qkf31nen_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_qkf31nen_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_qkf31nen_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_qsv4kihx_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_qsv4kihx_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_qsv4kihx_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_qsv4kihx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_scshqpde_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_scshqpde_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_scshqpde_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_scshqpde_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_wv5g1pkz_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_wv5g1pkz_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_wv5g1pkz_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_wv5g1pkz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_zaihetsj_wpftmp.AssemblyInfo.cs
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_zaihetsj_wpftmp.AssemblyInfoInputs.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_zaihetsj_wpftmp.assets.cache
/DotaPalyerData/obj/Debug/net7.0-windows/DotaPalyerData_zaihetsj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/.idea/.idea.DotaPalyerData/.idea/encodings.xml
/DotaPalyerData/bin/Debug/net7.0-windows/Flurl.dll
/DotaPalyerData/bin/Debug/net7.0-windows/Flurl.Http.dll
/.idea/.idea.DotaPalyerData/.idea/indexLayout.xml
/DotaPalyerData/obj/Debug/net7.0-windows/MainWindow.baml
/DotaPalyerData/obj/Debug/net7.0-windows/MainWindow.g.cs
/DotaPalyerData/bin/Debug/net7.0-windows/Newtonsoft.Json.dll
/Domain/obj/project.assets.json
/DotaPalyerData/obj/project.assets.json
/Domain/obj/project.nuget.cache
/DotaPalyerData/obj/project.nuget.cache
/Domain/obj/project.packagespec.json
/DotaPalyerData/obj/project.packagespec.json
/DotaPalyerData/bin/Debug/net7.0-windows/RestSharp.dll
/Domain/obj/rider.project.restore.info
/DotaPalyerData/obj/rider.project.restore.info
/.idea/.idea.DotaPalyerData/.idea/vcs.xml
