@page "/"
@using DotaPlayerData.UI.Data
@using DotaPlayerData.Core
@inject SearchController SearchController
<div>
    <div>
        <MudTextField @bind-Value="_steamId" />
        <MudButton OnClick="OnSearchClick">Search</MudButton>
    </div>
    @if (_playerHeroes != null)
    {
        <PlayerHeroesGrid PlayerHeroes="_playerHeroes" />
    }
</div>

@code
{
    private string _steamId;
    private IEnumerable<PlayerHero> _playerHeroes;
    private IEnumerable<SearchPlayerResult> _playerResults;

    private async Task OnSearchClick()
    {
        
        if (int.TryParse(_steamId, out int id))
        {
            _playerHeroes = await SearchController.SearchTopPlayerHeroes(id);
        }
        else
        {
            _playerResults = await SearchController.SearchPlayer(_steamId);
        }
        
    }
}
