@page "/"
@using DotaPlayerData.UI.Data
@using DotaPlayerData.Core
@inject SearchController SearchController
<div>
    <div>
        <MudTextField @bind-Value="_steamId" />
        <MudButton OnClick="OnSearchClick">Search</MudButton>
    </div>
    @if (_playerHeroes != null)
    {
        <PlayerHeroesGrid PlayerHeroes="_playerHeroes" />
    }
    @if (_playerResults != null)
    {
        <SearchResultGrid SearchPlayerResults="_playerResults" OnPlayerSelected="@LoadPlayerData"/>
    }
</div>

@code
{
    private string _steamId;
    private IEnumerable<PlayerHero> _playerHeroes;
    private IEnumerable<SearchPlayerResult> _playerResults;

    private async Task OnSearchClick()
    {
        if (string.IsNullOrEmpty(_steamId))
        {
            return;
        }
        
        if (int.TryParse(_steamId, out int id))
        {
            _playerHeroes = await SearchController.SearchTopPlayerHeroes(id);
            _playerResults = null;
        }
        else
        {
            _playerResults = await SearchController.SearchPlayer(_steamId);
            _playerHeroes = null;
        }
        
    }

    private async void LoadPlayerData(int accountId)
    {
        _playerHeroes = await SearchController.SearchTopPlayerHeroes(accountId);
        _playerResults = null;
        StateHasChanged();
    }
}
