@page "/"
@using DotaPlayerData.UI.Data
@using DotaPlayerData.Core.Models
@using DotaPlayerData.Core.Models.OpenDota
@inject SearchController SearchController
<div>
    <div>
        <MudTextField @bind-Value="_steamId" />
        <MudButton OnClick="OnSearchClick">Search</MudButton>
    </div>
    @if (_playerHeroes != null)
    {
        <MudTabs Elevation="4" Rounded="true" ApplyEffectsToContainer="true">
            <MudTabPanel Text="Palyer infos">
                <PlayerInfos PlayerData="_playerInfos"/>
            </MudTabPanel>
            <MudTabPanel Text="Heroes played">
                <PlayerHeroesGrid PlayerHeroes="_playerHeroes"/>
            </MudTabPanel>
        </MudTabs>
        
    }
    @if (_playerResults != null)
    {
        <SearchResultGrid SearchPlayerResults="_playerResults" OnPlayerSelected="@LoadPlayerData"/>
    }
</div>

@code
{
    private string _steamId;
    private IEnumerable<PlayerHero> _playerHeroes;
    private IEnumerable<SearchPlayerResult> _playerResults;
    private Player _playerInfos;

    private async Task OnSearchClick()
    {
        if (string.IsNullOrEmpty(_steamId))
        {
            return;
        }
        
        if (int.TryParse(_steamId, out int id))
        {
            _playerHeroes = await SearchController.SearchTopPlayerHeroes(id);
            _playerInfos = await SearchController.SearchPlayerInfos(id);
            _playerResults = null;
        }
        else
        {
            _playerResults = await SearchController.SearchPlayer(_steamId);
            _playerHeroes = null;
        }
        
    }

    private async void LoadPlayerData(int accountId)
    {
        _playerHeroes = await SearchController.SearchTopPlayerHeroes(accountId);
        _playerInfos = await SearchController.SearchPlayerInfos(accountId);
        _playerResults = null;
        StateHasChanged();
    }
}
