@page "/"
@using DotaPlayerData.UI.Data
@using DotaPlayerData.Core
@inject SearchController _SearchController
<div>
    <div>
        <RadzenNumeric Name="SteamId" Value="@_steamId" class="rz-border-radius-4" ShowUpDown="false"/>
        <RadzenButton Click="OnSearchClick" class="rz-info" Text="Search" />
    </div>
    <div>
        @*<RadzenGrid TItem="PlayerHero" @ref="grid" IsLoading=@_isLoading 
                    Count="@_count" AllowSorting="true">
            <RadzenGridColumn TItem="PlayerHero" Property="Name" Title="Name"/>
            <RadzenGridColumn TItem="PlayerHero" Property="GamesPlayed" Title="Games Played"/>
            <RadzenGridColumn TItem="PlayerHero" Property="WinRate" Title="Win Rate" Format="{0:P2}"/>
        </RadzenGrid>*@
    </div>
</div>

@code
{
    private RadzenGrid<PlayerHero> grid;
    private long _steamId;
    private bool _isLoading = true;
    private int _count;
    private List<PlayerHero> _playerHeroes;

    private async Task OnSearchClick()
    {
        _playerHeroes = await _SearchController.SearchTopPlayerHeroes(_steamId);
        _count = _playerHeroes.Count();
        _isLoading = false;
    }
}
