@using DotaPlayerData.Core

<div>
    @if (SearchPlayerResults != null)
    {
        <MudList T="SearchPlayerResult" Clickable="true" @bind-SelectedItem="_selectedItem" Color="Color.Success">
            @foreach (var player in SearchPlayerResults)
            {
                <MudListItem Value="player.AccountId" Class="player-list-item" OnClick="() => LoadPlayerData(player.AccountId)">
                    <MudStack Row="true">
                    <MudImage Src="@player.AvatarFull" Class="rounded-lg" Width="50" Height="50" Elevation="25"/>
                    <MudText>@player.PersonaName</MudText>
                    </MudStack>
                </MudListItem>
            }
        </MudList>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<SearchPlayerResult> SearchPlayerResults { get; set; }
    
    [Parameter]
    public Action<int> OnPlayerSelected { get; set; }
    
    MudListItem<SearchPlayerResult> _selectedItem;

    private void LoadPlayerData(int playerAccountId)
    {
        OnPlayerSelected.Invoke(playerAccountId);
    }

}