@using DotaPlayerData.Core.Models
<div>
    <MudCard>
        <MudCardContent>
            <MudGrid Justify="Justify.FlexStart" Spacing="5">
                <MudItem>
                    <div style="position: relative; text-align: left">
                        <MudImage Src="@TeamData.Logo" Elevation="30" Class="rounded-lg"/>
                        <MudText>@TeamData.Name</MudText>
                    </div>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</div>

@code {
    [Parameter] public Team TeamData { get; set; }
}